* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	border-radius: 5px;
}
sup {
    vertical-align: super;
    font-size: smaller;
	background-color:rgba(110,110,111,255)	;

}

main{
	background-color: #3c4443;
    display: grid;
    justify-content: center;
    align-content:center;
    min-height : 100vh;
	width: fit-content;
    grid-template-columns: repeat(5,100px);
    grid-template-rows: minmax(120px,auto) repeat(7,100px);
	margin: 1em;
    
}
body{
	display: flex;
	align-items: center;
	background-color: rgba(211,180,141,255);
}

button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline:none;
    background-color:rgba(221,221,221,255)	;
	margin: 0.5em;
}

main:nth-child(n+3){
	background-color: tomato;
}


main :nth-child(n+2):nth-child(-n+27), main :nth-child(n+31):nth-child(-n + 32), 
main :nth-child(n+36):nth-child(-n + 37), main :nth-child(n+41):nth-child(-n + 43),
 main :nth-child(n+46):nth-child(-n + 47) {
	background-color: rgba(110,110,111,255);
}

main :nth-child(21){
    background-color:rgba(221,221,221,255)	;
}



p{
    grid-column: 1 / -1;
	text-align: right;
	font-size: 35px;
	text-align: right;
	background-color: rgba(189,204,149,255);
	margin:0.4em;
}