/*specificity =   001 */
body{
    background-color: blanchedalmond;
}
/*specificity =   001 */
h1{
    font-size: 3em;
}
/*specificity =   001 */
h2{
    font-weight: bolder;
}
/*specificity =   001 */
h3{
    color: darkslategray;
}
/*specificity =   001 */
h4{
    border: black;
    border-radius: 2em;
}
/*specificity =   001 */
p{
    background-color: white;
    color: brown;
}