/*specificity =   001 */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*specificity =   001 */
h1{
    margin: 1em;
    font-size: 3em;
}
/*specificity =   001 */
label{
    font-size: 1.5em;
}
/*specificity =   001 */
select{
    margin-bottom:1em;
    margin-top: 0.4em;
    font-size: 1.3em;
}
/*specificity =   001 */
button{
    font-size: 2em;
    border-radius: 2em;
    padding: 0.2em;
}
/*specificity =   001 */
p{
    color: tomato;
    font-size: 3em;
}
/*specificity =   001 */
img{
    visibility: hidden;
}

