main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 1em;
    font-size: 3em;
}
label{
    font-size: 1.5em;
}
select{
    margin-bottom:1em;
    margin-top: 0.4em;
    font-size: 1.3em;
}
button{
    font-size: 2em;
    border-radius: 2em;
    padding: 0.2em;
}
p{
    color: tomato;
    font-size: 3em;
}
img{
    visibility: hidden;
}

